<% content_for :head do %>
  <div class="media_teaser">Here's a list of every TV show I've ever seen and my rating for each. I'm now up to a total of <%= number_with_delimiter(@total_show_count, :delimiter => ',') %> shows, including <%= number_with_delimiter(@shows_watched_this_year, :delimiter => ',') %> from this year.</div>
<% end %>
<% content_for :table_open do %>
  <table class="table table-striped">
    <thead>
      <tr >
        <th scope="col" style="width: 35%">Show</th>
        <th scope="col">Watched On</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
    <% end %>
    <% content_for :body do %>
      <%= render partial: "single_tv_show", collection: @all_tv_shows %>
    <% end %>
    <% content_for :table_close do %>
    </tbody>
  </table>
<% end %>
<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>
