<%= render partial: "single_blog_post", collection: @single_blog_post_as_array %>
<% content_for :trailer do %>
  <div class="return_to_homepage">
    <%= fa_icon "arrow-circle-left" %>
    <%= link_to "Back to Homepage", root_path %>
  </div>
<% end %>
<%= render "sidebar" %>
