<tr>
  <td>
    <%= single_run.miles %>
  </td>
  <td>
    <%= format_time_long(single_run.run_time) %>
  </td>
  <td>
    <%= single_run.location %>
  </td>
  <td>
    <%= datetime_to_local(single_run.created_at,"%b %d, %Y at %-l%P") %>
  </td>
</tr>
