.comment_timestamp {
  margin-left: 7px;
  color: #aaaaaa;
  font-size: 85%;
}

.comment_body_paragraph {
  margin-top: -12px;
}

.blog_post_container {
  margin-bottom: 35px;
}

.blog_post_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.blog_post_timestamp {
  color: #ef6768;
  margin-bottom: 10px;
  font-size: 85%;
}

.blog_post_timestamp a {
  text-decoration: none;
  box-shadow: none;
  color: #ef6768;
}

.blog_post_timestamp a:hover {
  text-decoration: underline;
  color: black;
  background-color: white;
  color: #ef6768;
}

.return_to_homepage {
  font-size: 85%;
}

.return_to_homepage a {
  text-decoration: none;
  box-shadow: none;
  color: black;
}

.return_to_homepage a:hover {
  text-decoration: underline;
  color: black;
  background-color: white;
  color: black;
}

h3 {
  font-size: 1.7rem;
}

blockquote {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 20px;
  padding: 10px 5px 10px 10px;
  background-color: #ede8e8;
  border: 0px solid #efe14a;
  line-height: 30px;
}

.sidebar_header {
  font-size: 19px;
  font-weight: 900;
}

.media_links {
  display: block;
  list-style-type: square;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  line-height: 30px;
}

.embed {
  width: 275px;
}

.recommended_posts {
  margin-bottom: 30px;
}

.recommended_posts li {
  margin: 10px 0;
}

.recommended_posts ul {
  margin-top: 10px;
}

.tag_cloud {
  line-height: 35px;
  font-size: 20px;
  margin-bottom: 30px;
}

.yearly_archives {
  line-height: 35px;
  font-size: 20px;
  margin-bottom: 30px;
}

.tag_head {
  background-color: #fcf4a4;
  border-radius: 6px;
  margin-top: -10px;
  margin-bottom: 25px;
  padding: 8px 10px 8px 10px;
  font-weight: bold;
}

.year_head {
  background-color: #fcf4a4;
  border-radius: 6px;
  margin-top: -10px;
  margin-bottom: 25px;
  padding: 8px 10px 8px 10px;
  font-weight: bold;
}

.tag_pop {
  color: #f06768;
  font-weight: bolder;
}

.year_pop {
  color: #f06768;
  font-weight: bolder;
}

.archive_teaser {
  padding-bottom: 50px;
}
