<% # Confirmation email sent when a user manually updates their password (outside of a formal reset). %>
<p>Hello <%= @resource.email %>!</p>
<p>We're contacting you to notify you that your password has been changed.</p>
