<tr>
  <td>
    <%= single_podcast_episode.podcast.title %>
  </td>
  <td>
    <%= single_podcast_episode.title %>
  </td>
  <td>
    <%= single_podcast_episode.consumed_on.strftime("%b %-d, %Y") %>
  </td>
</tr>
