<tr>
  <td>
    <%= single_podcast_episode.podcast.title %>
  </td>
  <td>
    <%= single_podcast_episode.title %>
  </td>
  <td>
    <%= datetime_to_local(single_podcast_episode.consumed_on,"%b %d, %Y") %>
  </td>
</tr>
