<% content_for :body do %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootstap snippet" style="margin-top: 50px;">
    <h4 style="margin-bottom:30px;border-bottom: 1px dotted;padding-bottom: 7px;">Last Week - 6/28-7/4
      <h4>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-dark panel-colorful widget_links_white" style="background-color:#F06768;border-radius:6px;">
              <div class="panel-body text-center">
                <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Runs Completed</p>
                <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">7</p>
                <small><span style="font-size:16px;" class="text-semibold">+5% Last Week</small>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="panel panel-dark panel-colorful widget_links_white" style="background-color:#6d7477;border-radius:6px;">
                <div class="panel-body text-center">
                  <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Miles Run</p>
                  <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">8</p>
                  <small><span style="font-size:16px;" class="text-semibold">+11% Last Week</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-dark panel-colorful widget_links_black" style="background-color:#FDF4A4;border-radius:6px;color:black;">
                  <div class="panel-body text-center">
                    <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Minutes Running</p>
                    <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">77</p>
                    <small><span style="font-size:16px;" class="text-semibold">+3% Last Week</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="panel panel-dark panel-colorful widget_links_black" style="background-color:#E1DEDE;border-radius:6px;color:black;">
                    <div class="panel-body text-center">
                      <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Podcast Episodes</p>
                      <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">17</p>
                      <small><span style="font-size:16px;" class="text-semibold">+15% Last Week</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-dark panel-colorful widget_links_black" style="background-color:#FDF4A4;border-radius:6px;color:black;">
                      <div class="panel-body text-center">
                        <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Pictures Taken</p>
                        <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">4</p>
                        <small><span style="font-size:16px;" class="text-semibold">+13% Last Week</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="panel panel-dark panel-colorful widget_links_black" style="background-color:#E1DEDE;border-radius:6px;color:black;">
                        <div class="panel-body text-center">
                          <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Blog Posts</p>
                          <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">13</p>
                          <small><span style="font-size:16px;" class="text-semibold">-5% Last Week</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="panel panel-dark panel-colorful widget_links_white" style="background-color:#6d7477;border-radius:6px;">
                          <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Miles Run</p>
                            <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">8</p>
                            <small><span style="font-size:16px;" class="text-semibold">+11% Last Week</small>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="panel panel-dark panel-colorful widget_links_white" style="background-color:#F06768;border-radius:6px;">
                            <div class="panel-body text-center">
                              <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Runs Completed</p>
                              <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">7</p>
                              <small><span style="font-size:16px;" class="text-semibold">+5% Last Week</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="panel panel-dark panel-colorful widget_links_black" style="background-color:#E1DEDE;border-radius:6px;color:black;">
                              <div class="panel-body text-center">
                                <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Blog Posts</p>
                                <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">13</p>
                                <small><span style="font-size:16px;" class="text-semibold">-5% Last Week</small>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                              <div class="panel panel-dark panel-colorful widget_links_white" style="background-color:#6d7477;border-radius:6px;">
                                <div class="panel-body text-center">
                                  <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Miles Run</p>
                                  <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">8</p>
                                  <small><span style="font-size:16px;" class="text-semibold">+11% Last Week</small>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="panel panel-dark panel-colorful widget_links_black" style="background-color:#FDF4A4;border-radius:6px;color:black;">
                                  <div class="panel-body text-center">
                                    <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Pictures Taken</p>
                                    <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">4</p>
                                    <small><span style="font-size:16px;" class="text-semibold">+13% Last Week</small>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                  <div class="panel panel-dark panel-colorful widget_links_white" style="background-color:#F06768;border-radius:6px;">
                                    <div class="panel-body text-center">
                                      <p class="text-uppercase mar-btm text-sm" style="font-size: 20px;">Runs Completed</p>
                                      <p class="h2 text-thin" style="font-size: 40px;font-weight:bold;">7</p>
                                      <small><span style="font-size:16px;" class="text-semibold">+5% Last Week</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <% end %>
